.container {
  margin: auto;
  padding: 0 20px;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1220px;
  }
}

summary::marker {
  content: "";
}

.prose a {
  text-decoration: underline;
}

.main-image img {
  width: 100%;
  height: auto;
}

.card-img-container img {
  width: 100%;
  height: auto;
}

.expeditions .views-row:nth-child(2n) .align {
  flex-direction: row-reverse;
}

.expeditions .views-row:nth-child(2n) .align .block-texte {
  padding-right: 40px;
  padding-left: 0;
}
