.container {
  margin: auto;
}

summary::marker {
  content: "";
}

.prose a {
  text-decoration: underline;
}

.main-image img {
  width: 100%;
  height: auto;
}

.card-img-container img {
  width: 100%;
  height: auto;
}
